@model IEnumerable<Store.Product>

<title> Market </title>

<h1>Market</h1>

@{
<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Price)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model)
    {
    <tr>
        <td>@product.Id</td>
        <td>@product.Title</td>
        <td>@product.Price</td>
    </tr>
    }
    </tbody>
</table>
}